---
import Layout from "../../layouts/Layout.astro";
import Slider from "../../components/Slider/index.astro";
import PageTitle from "../../components/PageTitle.astro";

import { models } from "./data";

export async function getStaticPaths() {
  return models;
}

const { name, price, height, about, age, img, weight } = Astro.props;

const pluralRules = new Intl.PluralRules("ru-RU");
const forms = {
  one: "год",
  few: "года",
  many: "лет",
  other: "лет",
};

const pluralForm = pluralRules.select(Number(age));

const modelAge = `${age} ${forms[pluralForm]}`;
---

<Layout>
  <PageTitle>{`${name}, ${modelAge}`}</PageTitle>

  <Slider price={price} height={height} weight={weight} />

  <div class="container">
    <button class="btn w-button meet-btn">Организовать встречу</button>
  </div>
</Layout>

<style>
  .container {
    margin-top: 20px;
  }
  .meet-btn {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
</style>
