---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider/index.astro";
import PageTitle from "../components/PageTitle.astro";
import ChatUs from "../components/ChatUs.astro";

import { models } from "../pages/models/data";

export async function getStaticPaths() {
  return models;
}

const { name, price, height, about, age, images, weight } = Astro.props;

const pluralRules = new Intl.PluralRules("ru-RU");
const forms = {
  one: "год",
  few: "года",
  many: "лет",
  other: "лет",
};

const pluralForm = pluralRules.select(Number(age));

const modelAge = `${age} ${forms[pluralForm]}`;
---

<Layout>
  <meta
    slot="description"
    name="description"
    content=`Эскортница ${name} предлагает эскорт услуги премиум класса. ${name} элитная эскортница в Москве. Конфиденциальность гарантирована!`
  />
  <title slot="title">
    {`Эскортница ${name} | Эскорт услуги ${name} - AuroraEscort`}
  </title>
  <PageTitle>{`Эскортница ${name}, ${modelAge}`}</PageTitle>

  <Slider price={price} height={height} weight={weight} images={images} />

  <div class="container">
    <ChatUs>
      <div class="chat-button-content">Организовать встречу</div>
    </ChatUs>
    <a href="pages/1" class="btn w-button model-btn models-catalog"
      >Перейти в каталог моделей</a
    >
  </div>
</Layout>

<style>
  .container {
    margin-top: 20px;
  }

  .model-btn {
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 0px;
  }

  .models-catalog {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: #ce4c4c;
  }

  .chat-button-content {
    width: 100vw;
    text-align: center;
    padding: 15px;
    background-color: #eb5757;
    color: white;
    font-weight: bold;
  }
</style>
