---
import Image from "astro/components/Image.astro";

const { img, name, price, id } = Astro.props;
---

<a href={id} class="group">
  <div
    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
  >
    <Image
      src={img}
      alt=`фото эскорт модели ${name}`
      class="h-full w-full object-cover object-center group-hover:opacity-75"
    />
  </div>
  <h3 class="mt-4 text-sm text-gray-700">{`Бюджет: от ${price} RUB`}</h3>
  <p class="mt-1 text-lg font-medium text-gray-900">
    {name}
  </p>
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
