---
import Layout from "../layouts/Layout.astro";
import ModelCard from "./ModelCard.astro";
import PaginationButtons from "./PaginationButtons.astro";
import PageTitle from "./PageTitle.astro";

const { page, pageTitle, descriptionMetaTag, titleMetaTag } = Astro.props;
---

<Layout>
  <meta slot="description" name="description" content={descriptionMetaTag} />
  <meta slot="meta-noindex" name="robots" content="noindex, follow" />
  <title slot="title">
    {titleMetaTag}
  </title>

  <PageTitle>{pageTitle}</PageTitle>

  <div class="content-section">
    <div class="container">
      <div class="shop-page-wrapper">
        <div class="shop-category-menu">
          <h2 class="category-menu-heading">Категории</h2>
          <div class="w-dyn-list">
            <div role="listitem" class="category-menu-item w-dyn-item">
              <a
                href="/models/pages/blondes/1"
                class="btn dark outline cat-menu w-button">Блондинки</a
              >
            </div>
            <div role="listitem" class="category-menu-item w-dyn-item">
              <a
                href="/models/pages/brunettes/1"
                class="btn dark outline cat-menu w-button">Брюнетки</a
              >
            </div>
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/young/1"
                  class="btn dark outline cat-menu w-button">Молоденькие</a
                >
              </div>
            </div>
            <div class="hidden-options">
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/tall/1"
                  class="btn dark outline cat-menu w-button"
                  >Высокие, длинные ноги
                </a>
              </div>
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/redheads/1"
                  class="btn dark outline cat-menu w-button"
                  >Рыжие
                </a>
              </div>
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/skinny/1"
                  class="btn dark outline cat-menu w-button"
                  >Худенькие
                </a>
              </div>
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/mulattos/1"
                  class="btn dark outline cat-menu w-button"
                  >Мулатки
                </a>
              </div>
              <div role="listitem" class="category-menu-item w-dyn-item">
                <a
                  href="/models/pages/asian/1"
                  class="btn dark outline cat-menu w-button"
                  >Азиатки
                </a>
              </div>
            </div>
            <div class="shop-button-wrapper">
              <button class="btn w-button show-categories">Все категории</button
              >
            </div>
          </div>
        </div>
      </div>
      <div class="shop-list">
        <div class="products-list-wrapper w-dyn-list">
          <div role="list" class="products-list w-dyn-items">
            {
              page.data.map(({ props, params }) => ({
                /* <ModelCard {...props} {...params} /> */
              }))
            }
          </div>
        </div>
      </div>
      <div class="pagination">
        <PaginationButtons
          next={page.url.next}
          prev={page.url.prev}
          currentPage={page.currentPage}
          lastPage={page.lastPage}
        />
      </div>
      <slot />
    </div>
  </div>
</Layout>

<style>
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }

  .w-dyn-bind-empty {
    display: none !important;
  }
  .w-condition-invisible {
    display: none !important;
  }

  .btn {
    padding: 5px 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #eb5757;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
    font-weight: 700;
  }
  .btn:hover {
    border-color: #222;
    background-color: #222;
  }
  .btn.dark {
    border-color: #222;
    background-color: #222;
  }
  .btn.dark:hover {
    border-color: #eb5757;
    background-color: #eb5757;
  }
  .btn.dark.outline {
    border-color: #222;
    color: #222;
  }
  .btn.dark.outline:hover {
    border-color: #222;
    background-color: #222;
  }
  .btn.dark.outline.cat-menu {
    width: 100%;
  }
  .btn.outline {
    background-color: transparent;
    color: #eb5757;
  }
  .btn.outline:hover {
    border-color: #eb5757;
    background-color: #eb5757;
    color: #f9f9f9;
  }
  .btn.outline:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #eb5757;
    box-shadow: 0 0 2px 0 #eb5757;
  }

  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .shop-item-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
  .shop-image {
    min-height: 500px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
  }
  .shop-image.tumbler-1 {
    position: relative;
    margin-bottom: 15px;
    background-position: 50% 50%;
    background-size: cover;
  }
  .shop-image.tumbler-1.narrow-list {
    min-height: 400px;
  }
  .shop-image.tumbler-1 {
    background-position: 50% 50%;
    background-size: cover;
  }
  .shop-details-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .shop-details-left {
    width: 100%;
  }
  .shop-item-name {
    color: #222;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .shop-item-price {
    margin-right: 10px;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  .shop-item-price.compare {
    color: #eb5757;
    text-decoration: line-through;
  }
  .content-section {
    padding-top: 35px;
  }
  .content-section.featured-section {
    padding-bottom: 0;
  }
  .image {
    display: block;
  }
  .heading {
    margin-top: 55px;
  }
  .products-list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px none rgba(34, 34, 34, 0.08);
  }
  .pill-2 {
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #1976d2;
    color: #f9f9f9;
  }
  .pill-2.badge {
    border-radius: 0;
  }
  .pill-2.badge.primary.sale {
    position: absolute;
    left: auto;
    top: 4%;
    right: 2%;
    bottom: auto;
    border-radius: 5px;
    background-color: #eb5757;
    font-size: 14px;
    text-transform: uppercase;
  }
  .pill-2.badge.primary.featured {
    position: absolute;
    left: auto;
    top: 8%;
    right: 1%;
    bottom: auto;
    z-index: 10;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #222;
  }
  .shop-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .shop-item-link-wrapper {
    width: 100%;
    text-decoration: none;
  }
  .shop-item-price-page {
    margin-right: 10px;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }
  .shop-page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .shop-category-menu {
    width: 20%;
    padding-right: 25px;
  }
  .shop-list {
    width: 80%;
  }
  .category-menu-item {
    margin-bottom: 10px;
  }
  .category-menu-heading {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
  }
  .featured-wrapper {
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
    color: #f9f9f9;
    text-decoration: none;
  }
  .featured-item-name {
    position: static;
    left: 1%;
    top: auto;
    right: auto;
    bottom: 0;
    margin-bottom: 5px;
    color: #f9f9f9;
  }
  .featured-price {
    position: static;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
  }
  .feature-text-wrapper {
    position: absolute;
    left: 2%;
    top: auto;
    right: auto;
    bottom: 6%;
    z-index: 10;
  }
  .featured-gradient-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(34, 34, 34, 0.22)),
      to(rgba(34, 34, 34, 0.69))
    );
    background-image: linear-gradient(
      180deg,
      rgba(34, 34, 34, 0.22),
      rgba(34, 34, 34, 0.69)
    );
  }

  @media screen and (max-width: 1900px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .shop-image.tumbler-1 {
      min-height: 350px;
    }
    .shop-image.tumbler-1 {
      min-height: 350px;
    }
    .shop-details-wrapper {
      font-size: 14px;
    }
    .shop-details-left {
      margin-right: 25px;
    }
    .products-list {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .shop-page-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .shop-category-menu {
      width: 100%;
      margin-bottom: 25px;
    }
    .shop-list {
      width: 100%;
    }
    .category-menu-heading {
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 767px) {
    .shop-item-wrapper {
      width: 100%;
      margin-bottom: 50px;
    }
    .products-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .pill-2.badge.primary.sale {
      right: 2%;
    }
    .shop-page-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .shop-category-menu {
      width: 100%;
      margin-bottom: 20px;
    }
    .shop-list {
      width: 100%;
    }
  }
  @media screen and (max-width: 479px) {
    .shop-details-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .shop-details-left {
      margin-right: 0;
    }
    .shop-item-name {
      text-align: center;
    }
    .shop-item-price {
      margin-right: 5px;
      margin-left: 5px;
    }

    .pill-2.badge.primary.sale {
      position: absolute;
      left: auto;
      top: 3%;
      right: 0;
      bottom: auto;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
    }
    .shop-item-price-page {
      margin-right: 5px;
      margin-left: 5px;
    }
    .shop-category-menu {
      padding-right: 0;
    }
  }

  .hidden-options {
    display: none;
  }

  .hidden-options[visible] {
    display: block;
  }

  @media screen and (min-width: 992px) {
    .hidden-options {
      display: block;
    }
    .show-categories {
      display: none;
    }
  }

  .pagination {
    margin-bottom: 80px;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const showButton = document.querySelector(".show-categories");
    const hiddenCategories = document.querySelector(".hidden-options");

    showButton?.addEventListener("click", () => {
      hiddenCategories?.toggleAttribute("visible");
    });
  });
</script>
